<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon(s) in the public directory -->
    <link rel="stylesheet" href="stylesheets/app.css">
    <!--[if lt IE 9]>
        <script src="components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    <%= yield_content :extra_head %>
  </head>
  <body>
    <%= render_partial 'partials/header' %>
    <div>
      <div class="group">
        <%= yield %>
      </div><!--/group-->
    </div>
    <%= render_partial 'partials/footer' %>
    <script data-main="scripts/main" src="components/requirejs/require.js"></script>
    <%= yield_content :extra_script %>
  </body>
</html>
