//
// Styles
// --------------------------------------------------


// Reset
@import "reset";

// Global
body,
input,
select,
textarea,
button {
  font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
}

a {
  color: #149ad4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

h1, h2, h3, h5 {
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  opacity: 0.8;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h5 {
  font-size: 14px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 1em;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

th, td {
  text-align: left;
  font-weight: normal;
}

strong {
  font-weight: 700;
}
