<% content_for :extra_head do %>
  <style>
    body {
      padding: 20px;
    }
  </style>
<% end %>

<div>
  <p>When asked if the Bleeding Edge is an upgrade to Extremis, Stark comments, "Nah - this is what comes next."</p>
</div>

<% content_for :extra_script do %>
  <script>
    console.log("Hello, from the Index page!");
  </script>
<% end %>
